<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
  
    <% if params[:plan] == '2' %>
      <h1 class="text-center">Premium Account</h1> 
      <br />
      <p class="text-center">Sign up for only $10/month to get the full access to Dev Match community and contact information. Engage with people based on your needs.</p>
      <br />
    <% else %>
      <h1 class="text-center">Lite Account</h1>
      <br />
      <p class="text-center">Sign up for free to get basic access to Dev Match community. Have a taste on how our community works and get a glimpse of the our portal free for life.</p>
      <br />
    <% end %>
  
  </div>

  <div class="col-md-4 col-md-offset-4">
    
    <div class="well">
      
      <h2>Sign up</h2>
      
      <% if params[:plan] == '2' %>
        <%= render "premium_form" %>
      <% else %>
        <%= render "lite_form" %>
      <% end %>
      
    </div>
    
    <div class="col-md-14">
      
      <div class="well">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
    
  </div>

</div>

